@model ShopVM

@Model.Page
@Model.PageCount
@Model.Take

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row inner-shop">
        <div class="inner-categories col-lg-3">
            <h2>Categories</h2>
            <ul>
                @foreach (var item in Model.ProductCategory)
                {
                    <li><a asp-controller="Shop" asp-action="FilterforCategory" asp-route-name="@item.Name">@item.Name</a></li>
                }
            </ul>
            <div class="price-range">
                <h3>Price Range</h3>
                <div class="range-slider">
                    <span class="range-values"></span>
                    <input type="range" value="0" min="0" max="1000" step="1">
                    <input type="range" value="1000" min="0" max="1000" step="1">
                </div>
            </div>
            <button class="filter-price">Filter</button>
        </div>
        <div class="shop-products col-lg-9 row" id="products">
            <partial name="_ProductPartial" model="@Model.Products" />
        </div>
    </div>
    <div class="paginations">
        @*@{
            @for (int i = 1; i <= Model.PageCount; i++)
            {*@
                @*<ul class="page-numbers">
                    <li><span aria-current="page" class="page-numbers current">@i</span></li>
                </ul>*@
                @*<ul>
                    <li>
                        <button class="page @(Model.Page == i ? "disabled")">@i</button>
                    </li>
                </ul>
            }
        }*@
        <button class="page"><i class="fa-solid fa-arrow-right"></i></button>
    </div>

</div>